<div class="fixed bottom-0 w-full bg-white py-6 border-t">
  <div class="mx-auto text-center">
    <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"> &copy;<%= Time.current.year %>.</p>
    <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Coded and designed by Anthony Marion</p>
  </div>
</div>
