<div class="fixed bottom-0 w-full bg-white p-4 border-t">
  <div class="mx-auto text-center">
    <a href="#scroll-top" class="no-underline sm:text-center text-sm py-4 font-sans font-thin font-semibold hover:text-lime-900 transition duration-400 pb-2"> > caress here to go back to the top</a>
    <p class="sm:text-center text-xs pt-4 font-sans font-thin"> &copy;<%= Time.current.year %> coded and designed by anthony marion</p>
  </div>
</div>
