<div class="fixed bottom-0 w-full bg-white p-4 border-t">
  <div class="mx-auto text-center">
    <a href="#scroll-top" class="no-underline sm:text-center text-sm py-6 font-sans font-thin font-semibold hover:text-lime-900 transition duration-400"> > caress here to go back to the top</a>
    <div class="footer-links">
      <a href="mailto:anthonycmarion@gmail.com" target="_blank" class="no-underline sm:text-center text-sm py-5 font-sans font-thin font-semibold hover:text-lime-900 transition duration-400 pb-2 px-3">contact</a>
      <a href="https://github.com/AntcMan" target="_blank" class="no-underline sm:text-center text-sm py-5 font-sans font-thin font-semibold hover:text-lime-900 transition duration-400 pb-2 px-3">github</a>
    </div>
    <p class="sm:text-center text-xs pt-4 font-sans font-thin"> &copy;<%= Time.current.year %> coded and designed by anthony marion</p>
  </div>
</div>
