<div class= "pt-4 px-8 md:px-0">
  <h1 class="text-center text-4xl font-thin font-semibold font-serif">
    <%= link_to "IYRTIAMI", root_path %></h1>
    <p class="text-sm font-sans pt-4 font-thin text-center" >- if you're reading this i've almost made it -</p>
    <p class="text-sm font-sans pt-1 font-thin text-center pb-4" id="scroll-top">by anthony marion</p>
</div>
<hr>
<div class="grid grid-cols-3 px-8 md:px-0 text-sm font-sans py-2 font-thin text-center">
  <% if user_signed_in? %>
    <div class="px-1">
      <%= link_to "Edit profile", edit_user_registration_path, class: "no-underline hover:underline font-medium" %>
    </div>
    <div class="px-1">
      <%= link_to "New blog", new_blog_post_path, method: :new, class: "no-underline hover:underline font-medium" %>
    </div>
    <div class="px-1">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "no-underline hover:underline font-medium" %>
    </div>
    <% else %>
    <div class= "px-2 md:px-10 py-4">
      <% unless current_page?(root_path) %>
      <% end %>
    </div>
  <% end %>
</div>
