<div class= "pt-4 px-8 md:px-0">
  <div class="title">
    <svg height="60" stroke="#bac736" stroke-width="2" class="text-line" width="100%">
      <text x="50%" dominant-baseline="middle" text-anchor="middle" y="50%">
        <%= link_to "IYRTIAMI.", root_path %>
      </text>
    </svg>
  </div>
  <p class="text-sm font-sans pt-1 font-thin text-center">
    if you're reading this <em class="text-highlight">i've almost made it</em>
  </p>
  <p class="text-sm font-sans pt-1 font-thin text-center pb-4" id="scroll-top">
    by anthony marion
  </p>
</div>
<div class="grid grid-cols-3 px-8 md:px-0 text-sm font-sans py-2 font-thin text-center">
  <% if user_signed_in? %>
    <div class="px-1">
      <%= link_to "Edit profile", edit_user_registration_path, class: "no-underline hover:underline font-medium" %>
    </div>
    <div class="px-1">
      <%= link_to "New blog", new_blog_post_path, method: :new, class: "no-underline hover:underline font-medium" %>
    </div>
    <div class="px-1">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "no-underline hover:underline font-medium" %>
    </div>
    <% else %>
    <div class= "px-2 md:px-10 py-4">
      <% unless current_page?(root_path) %>
      <% end %>
    </div>
  <% end %>
</div>
